<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<target name="Smart" sequenceNumber="1597185458">
  <locations>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="ch.ivyteam.ivy.core.feature.feature.group" version="0.0.0"/>
      <unit id="ch.ivyteam.ivy.core.test.feature.feature.group" version="0.0.0"/>
      <repository location="https://p2.ivyteam.io/core/13.2.0/"/>
    </location>
  </locations>
</target>
