<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<target name="Smart" sequenceNumber="1597185458">
  <locations>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
      <repository location="https://p2.mirror.ivyteam.io/eclipse-platform/2024-12/"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.junit" version="0.0.0"/>
      <unit id="junit-jupiter-api" version="0.0.0"/>
      <unit id="junit-jupiter-engine" version="0.0.0"/>
      <unit id="junit-platform-launcher" version="0.0.0"/>
      <unit id="junit-platform-runner" version="0.0.0"/>
      <unit id="junit-vintage-engine" version="0.0.0"/>
      <repository location="https://p2.mirror.ivyteam.io/eclipse-orbit/2024-12/"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="ch.ivyteam.ivy.core.feature.feature.group" version="0.0.0"/>
      <unit id="ch.ivyteam.ivy.core.test.feature.feature.group" version="0.0.0"/>
      <repository location="https://p2.ivyteam.io/core/13.2.0/"/>
    </location>
  </locations>
</target>
